<div class="row">
    <section class="main col-md-9">
      <article>
        <h2>About Me</h2>
        <p>Hi! my name is Chi Ming Lai, you can call me Alex, I am currently studying Computer programming in Seneca College, Canada</p>
        <p>In my leisure time, I often stay with my friends and watching movie at home, not a big fan of sports, but I do play football sometimes, not good at it though</p>
        <p>My current goal is becoming a computer programmer, that explains why I studying this course, although programming can be confusing and frustrating sometimes, once you manage to understand it, the sense of achievement is priceless</p>
        <p>This is a good assignment for practice, with some css and html to refresh my memory</p>
      </article>
    </section>
    <aside class="col-md-3">
      <h2>Coming Soon</h2>
    <p>Stay tuned for future updates, don't go away please!!!</p>
    </aside>
</div>


   