<div class="row">
    <section class="main col-md-9">
      <article>
        <h2>Instagram Caption:</h2>
        <p><strong>1.</strong> Friends are the family we choose for us</p>
        <p><strong>2.</strong> Did you swallow magnets? cause you are attractive!</p>
        <p><strong>3.</strong> With You, I forget all my problems. With You, Time Stands Still</p>
        <p><strong>4.</strong> Don’t talk, just act. Don’t say, just show. Don’t promise, just prove</p>
        <p><strong>5.</strong> be you. do you for you</p>
        <p><strong>6.</strong> All about the vibe</p>
        <p><strong>7.</strong> You know, we're an unbeatable team</p>
        <p><strong>8.</strong> Never do the same mistake twice, unless he’s hot!</p>
        <p><strong>9.</strong> Rollin' with the besties</p>
        <p><strong>10.</strong> It will be Always YOU</p>
        <p><strong>11.</strong> OUR EYES ARE PLACED IN FRONT BECAUSE IT IS MORE IMPORTANT TO LOOK AHEAD THAN TO LOOK BEHIND</p>
        <p><strong>12.</strong> They say tongue is the strongest muscle of the body. Wanna fight?</p>
        <p><strong>13.</strong> Invest the now in tomorrow’s dream.</p>
        <p><strong>14.</strong> SUCCESS IS GETTING UP ONE MORE TIME</p>
        <p><strong>15.</strong> Smile. It’s the second-best thing you can do with your lips</p>
        <p><strong>16.</strong> We travel not to escape life, but for life not to escape us</p>
        <p><strong>17.</strong> The elevator to success is out of order. You’ll have to use the stairs</p>
        <p><strong>18.</strong> Be a more of you, less of them</p>
        <p><strong>19.</strong> Living for the moments which I can't put into words</p>
        <p><strong>20.</strong> Do you like sleeping? Me too! We should do it together sometimes!</p>
        <br/><br/>
        <p><strong>UPDATE WILL BE CONTINUE LATER ON</strong></p>
      </article>
    </section>
    <aside class="col-md-3">
      <h2>Coming Soon</h2>
    <p>What should I put here, uh you have any idea?</p>
    </aside>
</div>


   