<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 404</title>
    <link rel = "stylesheet" href="/css/main.css"/>
</head>
<body>
    <h1>Error 404! oops, can't find your page!</h1>
    <div class="Nav-bar">
        <a href="/about">Back to About</a>
        <a href="/blog">Back to Blog</a>
        <a href="/posts">Back to Posts</a>
        <a href="/categories">Back to Categories</a>
    </div>
    <br>
    <img src="https://images.pexels.com/photos/2882/man-person-street-shoes.jpg" alt="OOPS">
</body>
</html>